@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    max-width: 1920px;
    width: 100%;
    height: 950px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.header {
    width: 100%;
    height: 200px;

    background-color: inherit;
    position: absolute;
    top: 0;
    
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    max-width: 1370px;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 195px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 49px;
    height: 26px;
}

.logoText {
    font-family: 'Forum';
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.headerList {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 76px;
}

.listParagraph {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 2px;
}

.mainContainer {
    display: flex;
    align-items: center;
}

.mainTitleContainer {
    width: 598px;
    height: 390px;

    position: absolute;
    left: 240px;

    margin-top: -114px;

    z-index: 1;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.mainImage{
    width: 1250px;
    height: 100%;

    position: absolute;
    right: 0;
    bottom: 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url('../assets/images/jpeg/main-image/background.jpg');
}

.mainBtn {
    width: 360px;
    height: 75px;

    color: #FFFFFF;
    border-radius: 10px;

    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 200px;
    letter-spacing: 2px;

    text-align: center;

    background-color: #710707;

    border: none;
}

.welcome,
.mainTitleText {
    font-family: 'Forum';
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;

    white-space: nowrap;

    margin: 0;
    padding: 0;
}

.mainTitleText {
    margin-bottom: 26px;
}

.mainSubTitle {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 300px;
    letter-spacing: 2px;

    margin-bottom: 76px;
}

.virtualTourSection {
    max-width: 1920px;
    width: 100%;
    height: 1265px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
}

.virtualTourContainer {
    width: 1440px;
    height: 1115px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 75px;
}

.virtualTourTitleContainer {
    border-bottom: 3px solid #710707;

    box-sizing: border-box;
    width: 100%;
    height: 115px;

    position: relative;
}

.virtualTourTitle {
    font-family: 'Forum';
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
    position: absolute;
    top: 0;
    left: 0;
}

.virtualTourCards {
    width: 1440px;
    height: 1115px;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
}

.virtualCard {
    max-width: 440px;
    width: 440px;
    height: 422px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    gap: 10px;

    margin: 0;
    padding: 0;
}

.virtualCardImage {
    width: 440px;
    height: 285px;
}

.virtualCardName {
    font-family: 'Forum';
    font-size: 32px;
    font-weight: 400;

    text-transform: uppercase;
    letter-spacing: 3px;

    margin: 0;
    padding: 0;

    white-space: nowrap;

    border-bottom: 2px solid #710707;

    margin-bottom: 9px;
}

.virtualTour360,
.tourPanorama {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 200;

    margin: 0;
    padding: 0;
}

.tourPanorama {
    font-size: 18px;
}

.pictureExploreSection {
    max-width: 1920px;
    width: 100%;
    height: 865px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
    
}

.pictureExploreContainer {
    width: 1440px;
    height: 715px;

    display: flex;
    justify-content: space-between;
}

.pictureExploreText {
    width: 720px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;

    gap: 25px;
}

.pictureExploreImageContainer {
    width: 720px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.pictureExploreImage img{
    width: 720px;
    height: 700px;
}

.pictureExploreTitle {
    font-family: 'Forum';
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;

    margin-bottom: 25px;

    white-space: nowrap;
}

.pictureExploreTitleContainer {
    width: 660px;
    height: 115px;

    border-bottom: 3px solid #710707;
    margin-bottom: 75px;
}

.pictureExploreParagraph {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
}

.yellowVeil {
    color: #9D8665;
}

.videoSection {
    max-width: 1920px;
    width: 100%;
    height: 1009px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 40px;
}

.videoContainer {
    width: 1440px;
    height: 714px;
}

.videoJourney {
    width: 100%;
    height: 100%;
}

.videoTextContainer {
    width: 1440px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viedoSectionTitle {
    font-size: 70px;
    font-family: 'Forum';
    font-weight: 400px;

    color: #9D8665;
    text-transform: uppercase;
    letter-spacing: 5px;

    white-space: nowrap;
}

.videoSectionSubTitle {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;

    color: #000;
}

.ticketsSection {
    max-width: 1920px;
    width: 100%;
    height: 893px;

    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketsContainer {
    width: 1440px;
    height: 743px;

    display: flex;
    flex-direction: column;

    gap: 75px;
}

.ticketsTitleContainer {
    width: 100%;
    height: 115px;

    border-bottom: 3px solid #710707;
}

.ticketsTitle {
    font-size: 70px;
    font-weight: 400;
    font-family: 'Forum';
    letter-spacing: 5px;
    text-transform: uppercase;
}

.ticketsContainers {
    display: flex;
    justify-content: space-between;
}

.ticketsContainerImage {
    width: 720px;
    height: 550px;
}

.buyMenu {
    display: flex;
    justify-content: space-between;

    width: 660px;
    height: 100%;
    box-sizing: border-box;
}

.listName,
.amountName,
.totalSum {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
}

.ticketTypeContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    gap: 50px;
}

.typeListParagraph {
    margin-bottom: 50px;

    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
}

.amountContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;

    gap: 14px; 
}

.ageName {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
}

.ageCounterContainer {
    width: 150px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid #fff;

    margin-bottom: 35px;
}

.inputCount {
    width: 38px;
    height: 38px;

    background-color: inherit;
    border: none;

    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
    
    color: #fff;

    text-align: center;
    outline: none;
}

.counterBtn {
    width: 40px;

    background-color: inherit;

    font-size: 32px;
    font-weight: 400;
    font-family: 'Roboto';

    border: none;

    color: #fff;
}

.counterBtn:hover {
    cursor: pointer;
}

.secondCounterContainer {
    margin-bottom: 50px;
}

.typesList {
    list-style: none;
}

.typeListParagraph {
    content: '○';
}

.typeListParagraph::before {
    content: '○';
    transition: 0.3 ease;
}

.typeListParagraph:hover::before {
    content: '◉';
    cursor: pointer;
}

.typeListParagraph.active::before {
    content: '◉';
}

.typeName {
    margin-left: 10px;
}

.typeName:hover {
    cursor: pointer;
}

.contactsSection {
    max-width: 1920px;
    width: 100%;
    height: 963px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsContainer {
    width: 1440px;
    height: 813px;

    display: flex;
    flex-direction: column;

    gap: 75px;
}

.contactsTitleContainer{
    width: 100%;
    height: 115px;

    border-bottom: 3px solid #710707;
}

.contactsTitle {
    font-size: 70px;
    font-weight: 400;
    font-family: 'Forum';
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
}

.contactsContainerTwo {
    width: 100%;
    height: 620px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contactsInfoContainer {
    width: 282px;
    height: 221px;
}

.infoContainerTitle {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 28px;

    color: #000;
    margin-bottom: 36px;
}

.contact {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;

    color: #000;
}

.mapContainer {
    width: 960px;
    height: 620px;
}

.footer {
    max-width: 1920px;
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
}

.footerContainer {
    width: 1440px;
    height: 150px;

    display: flex;
    justify-content: space-between;
}

.footerLogoContainer {
    width: 195px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 366px;
    height: 150px;
}

.footerListParagraph {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 200;

    letter-spacing: 2px;
    line-height: 50px;
    opacity: 0.7;

    transition: 0.3s ease;
}

.footerListParagraph:hover {
    cursor: pointer;
    color: #710707;
    opacity: 1;
}

.navList {
    list-style: none;

    display: flex;
    flex-direction: column;
}

.iconsContainer {
    width: 336px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.iconButton {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #666666;
    border-radius: 50%;

    transition: 0.3s ease;
}

.iconButton:hover {
    cursor: pointer;
    
    border: 1px solid #710707;
}