.pictureExploreSection {
    max-width: 1920px;
    width: 100%;
    height: 865px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
    
}

.pictureExploreContainer {
    width: 1440px;
    height: 715px;

    display: flex;
    justify-content: space-between;
}

.pictureExploreText {
    width: 720px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;

    gap: 25px;
}

.pictureExploreImageContainer {
    width: 720px;
    height: 700px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    background-image: url(/museum/assets/images/jpeg/picture-explore/after.jpg);

    position: relative;

    overflow: hidden;
}

.pictureExploreImage img{
    width: 720px;
    height: 700px;

    transition: opacity 0.3s ease;
}

.pictureExploreTitle {
    font-family: 'Forum';
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;

    margin-bottom: 25px;

    white-space: nowrap;
}

.pictureExploreTitleContainer {
    width: 660px;
    height: 115px;

    border-bottom: 3px solid #710707;
    margin-bottom: 75px;
}

.pictureExploreParagraph {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
}

.yellowVeil {
    color: #9D8665;
}

.sliderContainer {
    width: 39px;
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    left: 50%;

    z-index: 10;
}

.sliderStripeOne {
    width: 10px;
    height: 330px;

    background-color: #fff;

    position: absolute;
    top: 0;
}

.sliderStripeTwo {
    width: 10px;
    height: 330px;

    background-color: #fff;

    position: absolute;
    bottom: 0;
}

.sliderCircle {
    width: 39px;
    height: 39px;

    border-radius: 50%;

    background-color: #fff;

    position: absolute;
    background: inherit;

    border: 10px solid #fff;
}

.sliderContainer:hover {
    cursor: pointer;
}

.sliderContainer.move {
    cursor: grabbing;
}