@import url(./booking_container_one.css);
@import url(./booking_container_two.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    outline: none;
}

select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding-left: 15px;
}

.bookingSection {
    width: 1440px;
    height: 845px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;

    background-color: #fff;
}

.markButtonContainer {
    width: 20px;
    height: 25px;

    position: absolute;

    top: 30px;
    right: 30px;
}

.markLineOne,
.markLineTwo {
    content: "";

    width: 25px;
    border: 1px solid #181C29;

    position: absolute;
    left: 5px;
}

.markLineOne {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.markLineTwo {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}