.videoSection {
    max-width: 1920px;
    width: 100%;
    height: 1396px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 40px;
}

.videoContainer {
    width: 1440px;
    height: 865px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 40px;
}

.videoJourney {
    width: 100%;
    height: 100%;
}

.videoTextContainer {
    width: 1440px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viedoSectionTitle {
    font-size: 70px;
    font-family: 'Forum';
    font-weight: 400px;

    color: #9D8665;
    text-transform: uppercase;
    letter-spacing: 5px;

    white-space: nowrap;
}

.videoSectionSubTitle {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;

    color: #000;
}

/* .sliderContainer {
    width: 1440px;
    height: 306px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 40px;

    overflow: hidden;
} */

.videoSliderContainer {
    width: 1440px;
    height: 306px;

    overflow: hidden;

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 40px;

    position: relative;
}

.videoSlider {
    width: 2428px;
    height: 254px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 42px;

    position: absolute;
    left: 0;

    transition: 0.3s ease;
}

.sliderButtons {
    width: 108px;
    height: 12px;

    color: #999999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;
}

.videoSliderButton {
    font-size: 24px;

    background-color: inherit;
    border: none;
}

.videoSliderButton:hover {
    cursor: pointer;
}

.sliderParagraph {
    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: #999999;

    transition: 0.3s ease;
}

.sliderParagraph.active {
    background-color: #333333;
}

.sliderVideo {
    width: 452px;
    height: 254px;
}