.ticketsSection {
    max-width: 1920px;
    width: 100%;
    height: 893px;

    background-color: #fff;

    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketsContainer {
    width: 1440px;
    height: 743px;

    display: flex;
    flex-direction: column;

    gap: 75px;
}

.ticketsTitleContainer {
    width: 100%;
    height: 115px;

    border-bottom: 3px solid #710707;
}

.ticketsTitle {
    font-size: 70px;
    font-weight: 400;
    font-family: 'Forum';
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
}

.ticketsContainers {
    display: flex;
    justify-content: space-between;
}

.ticketsContainerImage {
    width: 720px;
    height: 550px;
}

.buyMenu {
    display: flex;
    justify-content: space-between;

    width: 660px;
    height: 100%;
    box-sizing: border-box;
}

.listName,
.amountName,
.totalSum {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
}

.ticketTypeContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    gap: 50px;
}

.typeListParagraph {
    margin-bottom: 50px;

    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;

    transition: 0.5s ease;
}

.amountContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;

    gap: 14px; 
}

.ageName {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
}

.ageCounterContainer {
    width: 150px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid #000;

    margin-bottom: 35px;
}

.inputCount {
    width: 38px;
    height: 38px;

    background-color: inherit;
    border: none;

    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
    
    color: #000;

    text-align: center;
    outline: none;
}

.counterBtn {
    width: 40px;

    background-color: inherit;

    font-size: 32px;
    font-weight: 400;
    font-family: 'Roboto';

    border: none;

    color: #000;
}

.counterBtn:hover {
    cursor: pointer;
}

.secondCounterContainer {
    margin-bottom: 50px;
}

.typesList {
    list-style: none;
}

.typeListParagraph {
    content: '○';
    transition: 0.5s ease;
}

.typeListParagraph::before {
    content: '○';
    transition: 0.5s ease;
}

.typeListParagraph:hover::before {
    content: '◉';
    cursor: pointer;
    transition: 0.5s ease;
}

.typeListParagraph.active::before {
    content: '◉';
    transition: 0.5s ease;
}

.typeName {
    margin-left: 10px;
}

.typeName:hover {
    cursor: pointer;
}

.byBtn {
    width: 175px;
    height: 50px;

    background-color: #000;
    margin-top: 40px;

    color: #fff;

    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
}

.byBtn:hover {
    cursor: pointer;
}